node_modules/
.env
.env.local
.env.development
.env.test
.env.production

# Additional Logs
*.md

# logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# build
dist/
build/

# VSCode (optional)
.vscode/